body {
    font-family: Arial, sans-serif;
    background-image: url('./images/signup2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15;
    padding: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  h2 {
    position:relative;
    bottom: 220px;
    font-size: 1000;
    font-weight: bolder ;
    text-align: left;
    color: #014604;
  }
  
  form {
    position:absolute;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 1rem;
    align-items: center;
  }
  
  label {
    font-weight: bold ;
    margin-bottom: 8px;
    margin-left: 10px;
    color: #27a301;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #116b20;
    border-radius: 4px;
    width: 20rem;
  }
  
  input[type=submit] {
    padding: 10px;
    background-color: #28ac00;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #014604;
  }