body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('../images/louis-hansel-phEaeqe555M-unsplash.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    margin: 0; /* Remove default body margin */
}

.main-container {
    display: flex;
    height: 100vh;
    justify-content: flex-end; /* Align items to the right */
}

.login-container {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 400px;
    margin: 130px; /* Center the login box vertically */
}

.login-container h2 {
    color: #333;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-form label {
    font-weight: bold;
    color: #555;
}

.login-form input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    padding: 17px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}
